@container (width >= 778px) {
  .main-watchFeed-equalizerIcon {
    height: 24px;
    width: 24px;
  }
}

.main-watchFeed-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  inset: 0 -10%;
  opacity: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(transparent),
    color-stop(25%, var(--spice-sidebar)),
    to(transparent)
  );
  -webkit-mask-image: linear-gradient(
    90deg,
    transparent 0,
    var(--spice-sidebar) 25% 75%,
    transparent
  );
  mask-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(transparent),
    color-stop(25%, var(--spice-sidebar)),
    to(transparent)
  );
  mask-image: linear-gradient(
    90deg,
    transparent 0,
    var(--spice-sidebar) 25% 75%,
    transparent
  );
  padding: 8px;
  position: absolute;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  z-index: calc(var(--watch-feed-z-index) + 1);
}

.main-watchFeed-showBackground {
  opacity: 1;
}

.main-watchFeed-backgroundSpacer {
  -ms-flex-preferred-size: calc(70% - min(2%, 8px));
  flex-basis: calc(70% - min(2%, 8px));
}

.main-watchFeed-backgroundPill {
  -webkit-animation-duration: 0.85s;
  animation-duration: 0.85s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  background-color: rgba(var(--spice-rgb-selected-row), 0.3);
  border-radius: 3vw;
  height: 5%;
  margin: 0 4px;
  width: min(1.7%, 8px);
}

.main-watchFeed-pillAnimationOne {
  -webkit-animation-name: boo-key-frame;
  animation-name: boo-key-frame;
}

.main-watchFeed-pillAnimationTwo {
  -webkit-animation-name: WUOx_rJjDlJ0yebh23UI;
  animation-name: WUOx_rJjDlJ0yebh23UI;
}

.main-watchFeed-pillAnimationThree {
  -webkit-animation-name: DNVx4QdehkJ8two0tNVO;
  animation-name: DNVx4QdehkJ8two0tNVO;
}

.main-watchFeed-pillAnimationFour {
  -webkit-animation-name: M_nS5sMI0NvZNLeFgFVa;
  animation-name: M_nS5sMI0NvZNLeFgFVa;
}

@-webkit-keyframes boo-key-frame {
  25% {
    -webkit-transform: scaleY(0.8);
    transform: scaleY(0.8);
  }

  50% {
    -webkit-transform: scaleY(1.2);
    transform: scaleY(1.2);
  }

  75% {
    -webkit-transform: scaleY(1.4);
    transform: scaleY(1.4);
  }
}

@keyframes boo-key-frame {
  25% {
    -webkit-transform: scaleY(0.8);
    transform: scaleY(0.8);
  }

  50% {
    -webkit-transform: scaleY(1.2);
    transform: scaleY(1.2);
  }

  75% {
    -webkit-transform: scaleY(1.4);
    transform: scaleY(1.4);
  }
}

@-webkit-keyframes WUOx_rJjDlJ0yebh23UI {
  25% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  50% {
    -webkit-transform: scaleY(0.9);
    transform: scaleY(0.9);
  }

  75% {
    -webkit-transform: scaleY(1.9);
    transform: scaleY(1.9);
  }
}

@keyframes WUOx_rJjDlJ0yebh23UI {
  25% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  50% {
    -webkit-transform: scaleY(0.9);
    transform: scaleY(0.9);
  }

  75% {
    -webkit-transform: scaleY(1.9);
    transform: scaleY(1.9);
  }
}

@-webkit-keyframes DNVx4QdehkJ8two0tNVO {
  25% {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
  }

  50% {
    -webkit-transform: scaleY(0.8);
    transform: scaleY(0.8);
  }

  75% {
    -webkit-transform: scaleY(1.2);
    transform: scaleY(1.2);
  }
}

@keyframes DNVx4QdehkJ8two0tNVO {
  25% {
    -webkit-transform: scaleY(2);
    transform: scaleY(2);
  }

  50% {
    -webkit-transform: scaleY(0.8);
    transform: scaleY(0.8);
  }

  75% {
    -webkit-transform: scaleY(1.2);
    transform: scaleY(1.2);
  }
}

@-webkit-keyframes M_nS5sMI0NvZNLeFgFVa {
  20% {
    -webkit-transform: scaleY(2.5);
    transform: scaleY(2.5);
  }

  40% {
    -webkit-transform: scaleY(1.4);
    transform: scaleY(1.4);
  }

  60% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  80% {
    -webkit-transform: scaleY(0.8);
    transform: scaleY(0.8);
  }
}

@keyframes M_nS5sMI0NvZNLeFgFVa {
  20% {
    -webkit-transform: scaleY(2.5);
    transform: scaleY(2.5);
  }

  40% {
    -webkit-transform: scaleY(1.4);
    transform: scaleY(1.4);
  }

  60% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  80% {
    -webkit-transform: scaleY(0.8);
    transform: scaleY(0.8);
  }
}

@-webkit-keyframes UgiQEceVw3L_1jzY1wjh {
  0% {
    -webkit-transform: translateY(-76%);
    transform: translateY(-76%);
  }

  to {
    -webkit-transform: translateY(76%);
    transform: translateY(76%);
  }
}

@keyframes UgiQEceVw3L_1jzY1wjh {
  0% {
    -webkit-transform: translateY(-76%);
    transform: translateY(-76%);
  }

  to {
    -webkit-transform: translateY(76%);
    transform: translateY(76%);
  }
}

@-webkit-keyframes VOwzQcUtQV7p82CVHg5Q {
  0%,
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  }
}

@keyframes VOwzQcUtQV7p82CVHg5Q {
  0%,
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  }
}

.main-watchFeed-contentWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 0 5%;
  position: absolute;
  width: 41%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  top: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main-watchFeed-contentWrapper::-webkit-scrollbar {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .main-watchFeed-contentWrapper {
    scroll-behavior: smooth;
  }
}

.main-watchFeed-canvasContainer {
  aspect-ratio: 9/16;
  border-radius: 12px;
  inset: 0;
  overflow: hidden;
  position: absolute;
}

.main-watchFeed-canvasWrapper {
  aspect-ratio: 9/16;
  margin: -1px;
  position: relative;
}

.main-watchFeed-contentRow {
  padding: 0;
  position: relative;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  -webkit-transition: padding 0.5s ease-out;
  transition: padding 0.5s ease-out;
}

.main-watchFeed-contentRow:first-of-type {
  margin-top: 100%;
}

.main-watchFeed-contentRow:last-of-type {
  margin-bottom: 100%;
}

.main-watchFeed-contentRow.vXmfIXqdM2zAarGO3a9u {
  padding: 64px 0;
}

.main-watchFeed-imageWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-watchFeed-imageWrapper:after {
  border-radius: 12px;
  -webkit-box-shadow: 0 4px min(3vw, 3vh, 60px)
    rgba(var(--spice-rgb-shadow), 0.5);
  box-shadow: 0 4px min(3vw, 3vh, 60px) rgba(var(--spice-rgb-shadow), 0.5);
  content: "";
  inset: 0;
  opacity: 0;
  position: absolute;
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

@supports (animation-timeline: view()) {
  .main-watchFeed-contentAnimation .main-watchFeed-imageWrapper {
    -webkit-animation-name: UgiQEceVw3L_1jzY1wjh;
    animation-name: UgiQEceVw3L_1jzY1wjh;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-timeline: view(block -100%);
  }
}

.main-watchFeed-contentAnimation
  .main-watchFeed-imageWrapper
  .main-watchFeed-image {
  aspect-ratio: 1/1;
}

.main-watchFeed-content {
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  aspect-ratio: 9/16;
  justify-content: center;
  overflow: clip;
  overflow-clip-margin: 60px;
  position: relative;
}

@supports not (animation-timeline: view()) {
  .main-watchFeed-content {
    background-color: var(--background-color);
    -webkit-transition: background-color 0.5s ease-out 0.1s;
    transition: background-color 0.5s ease-out 0.1s;
  }

  .main-watchFeed-content.main-watchFeed-contentSelected {
    background-color: transparent;
  }

  .main-watchFeed-content.main-watchFeed-contentSelected.main-watchFeed-contentAnimation
    .main-watchFeed-image {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  }

  .main-watchFeed-content.main-watchFeed-contentAnimation
    .main-watchFeed-image {
    -webkit-transition: -webkit-transform 0.5s ease-out;
    transition: -webkit-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  }
}

.main-watchFeed-content.main-watchFeed-contentSelected
  .main-watchFeed-imageWrapper:after {
  opacity: 1;
}

.main-watchFeed-content.main-watchFeed-contentAnimation {
  z-index: calc(var(--watch-feed-z-index) + 2);
}

@supports (animation-timeline: view()) {
  .main-watchFeed-content.main-watchFeed-contentAnimation {
    -webkit-animation-name: VOwzQcUtQV7p82CVHg5Q;
    animation-name: VOwzQcUtQV7p82CVHg5Q;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-timeline: view(block 10%);
  }
}

.main-watchFeed-followButton {
  white-space: nowrap;
}

.main-watchFeed-artistContainer {
  min-height: 80px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
}

@container (width >= 1102px) {
  .main-watchFeed-artistContainer {
    gap: 16px;
  }
}

.main-watchFeed-artistMetadataContainer {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 8px;
}

.main-watchFeed-artistWrapper,
.main-watchFeed-artistMetadataContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-watchFeed-artistWrapper {
  gap: 4px;
}

.main-watchFeed-genreContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 32px;
  overflow: hidden;
}

.main-watchFeed-genreContent:before {
  content: "#";
}

.main-watchFeed-flipContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-inline: 2px;
  will-change: opacity, transform;
}

.main-watchFeed-songArtistListeners:before {
  content: "â€¢";
  margin-right: 4px;
}

.main-watchFeed-progressBar {
  height: 4px;
  width: 100%;
}

.main-watchFeed-progressBar.CIqzRxfDnbsAmIMNe6hy > div {
  -webkit-transition: inline-size 0.5s linear;
  transition: inline-size 0.5s linear;
}

.main-watchFeed-progressBar > div {
  block-size: 4px;
}

.main-watchFeed-songArtist {
  display: inline;
}

.main-watchFeed-songArtistWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.qtybJ8RR6nj87BrYKgeW {
  -webkit-margin-end: 4px;
  margin-inline-end: 4px;
}

.main-watchFeed-songArtistContent {
  color: var(--spice-subtext);
}

.main-watchFeed-metadataWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 8px;
  -webkit-padding-start: 16px;
  padding-inline-start: 16px;
}

@container (width >= 1102px) {
  .main-watchFeed-metadataWrapper {
    gap: 16px;
    -webkit-padding-start: 64px;
    padding-inline-start: 64px;
  }
}

.main-watchFeed-songTitleWrapper {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 2lh;
}

.main-watchFeed-songTitle {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@supports (text-wrap: balance) {
  .main-watchFeed-songTitleWrapper {
    text-wrap: balance;
  }
}

.main-watchFeed-playerImage {
  border-radius: 4px;
  display: block;
  height: 54px;
  width: 54px;
}

.main-watchFeed-playerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
  height: 70px;
  max-width: 318px;
  padding-top: 16px;
}

.main-watchFeed-willChange {
  will-change: opacity, transform;
}

@container (width <= 778px) {
  .main-watchFeed-songTitleWrapper {
    font-size: var(--encore-text-size-larger) !important;
  }
}

@container (width >= 1102px) {
  .main-watchFeed-songTitleWrapper {
    font-size: var(--encore-text-size-larger-3) !important;
  }
}

.K5EivYyDdBC4jHmp54Di {
  background-color: var(--spice-tab-active);
  border-radius: 12px;
  height: 100%;
}

@-webkit-keyframes _5gCKQ1yASJ7mHjripq5j {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@keyframes _5gCKQ1yASJ7mHjripq5j {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  to {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}

.K5EivYyDdBC4jHmp54Di {
  overflow: hidden;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .K5EivYyDdBC4jHmp54Di:after {
    -webkit-animation: _5gCKQ1yASJ7mHjripq5j 2s infinite;
    animation: _5gCKQ1yASJ7mHjripq5j 2s infinite;
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(transparent),
      color-stop(rgba(var(--spice-rgb-selected-row), 0.1)),
      to(transparent)
    );
    background-image: linear-gradient(
      90deg,
      transparent,
      rgba(var(--spice-rgb-selected-row), 0.1),
      transparent
    );
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.playbackContainerWatchFeed {
  height: 0;
  width: 0;
}

.main-watchFeed-modal {
  --watch-feed-z-index: 6;
  backdrop-filter: grayscale(100%);
  background-color: rgba(var(--spice-rgb-shadow), 0.9);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: var(--watch-feed-z-index);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-watchFeed-modal,
.main-watchFeed-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.main-watchFeed-container {
  --aspect-ratio: 16/10;
  container-type: inline-size;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  aspect-ratio: var(--aspect-ratio);
  background-image: radial-gradient(
    circle at center right,
    transparent,
    var(--background-base) 35%
  );
  border: 1px solid var(--background-elevated-base);
  border-radius: 8px;
  -ms-flex-direction: column;
  flex-direction: column;
  max-width: 1680px;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  width: min(85%, min(1680px, 85vh * (var(--aspect-ratio))));
}

.main-watchFeed-container:focus {
  outline: none;
}

.main-watchFeed-columnContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  gap: 16px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
}

.main-watchFeed-columnContainer.k0VnN_DWAlwlcQAVPwNK {
  inset: 0;
  position: absolute;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.main-watchFeed-columnContainer.M4ODB13YCeZSLM7a3SFM {
  opacity: 0;
}

.main-watchFeed-playlistTitle {
  display: -ms-flexbox;
  display: flex;
  display: -webkit-box;
  font-size: var(--encore-text-size-base);
  font-weight: 700 !important;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@container (width >= 1102px) {
  .main-watchFeed-playlistTitle {
    font-size: var(--encore-text-size-larger) !important;
  }
}

.main-watchFeed-actionHeaderWrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  gap: 8px;
  justify-content: center;
}

@container (width >= 1102px) {
  .main-watchFeed-actionHeaderWrapper {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}

.main-watchFeed-soundButtonWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
}

@container (width >= 778px) {
  .main-watchFeed-soundButtonWrapper {
    width: 48px;
  }
}

.main-watchFeed-actionBodyWrapper {
  -ms-flex-item-align: center;
  align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-padding-end: 8px;
  padding-inline-end: 8px;
}

@container (width >= 778px) {
  .main-watchFeed-actionBodyWrapper {
    -webkit-padding-end: 16px;
    padding-inline-end: 16px;
  }
}

@container (width >= 1102px) {
  .main-watchFeed-actionBodyWrapper {
    -webkit-padding-end: 64px;
    padding-inline-end: 64px;
  }
}

.main-watchFeed-menuButton {
  min-block-size: 0;
  padding: 4px 0;
}

@container (width >= 778px) {
  .main-watchFeed-menuButton {
    min-block-size: 48px;
    padding: 0;
  }
}

.main-watchFeed-queueButton {
  padding: 8px 0 4px;
}

@container (width >= 778px) {
  .main-watchFeed-queueButton {
    padding: 4px 0;
  }
}

.main-watchFeed-actionSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 16px;
  place-items: flex-end;
  width: 86px;
}

@container (width >= 778px) {
  .main-watchFeed-actionSection {
    padding: 24px;
    width: 128px;
  }
}

@container (width >= 1102px) {
  .main-watchFeed-actionSection {
    padding: 32px;
    width: 160px;
  }
}

.main-watchFeed-actionSection.jj0A34CWNUy_6wXSWvd4 {
  width: 88px;
}

.main-watchFeed-actionSection .main-watchFeed-addToPlaylistButton {
  color: var(--spice-text);
}

.main-watchFeed-actionFooterWrapper {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.main-watchFeed-contentSection,
.main-watchFeed-actionFooterWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-watchFeed-contentSection {
  padding: 0 32px;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  height: 100%;
  justify-content: center;
}

.OX3FgssteeWozn3dg5OY {
  pointer-events: none;
  position: relative;
  width: 100%;
}

.OX3FgssteeWozn3dg5OY.M_1yh1oHDNdnGHLMEdyC {
  display: none;
}

.main-watchFeed-metadataSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  gap: 16px;
  justify-content: space-between;
  padding: 16px;
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}

@container (width >= 778px) {
  .main-watchFeed-metadataSection {
    padding: 24px;
  }
}

@container (width >= 1102px) {
  .main-watchFeed-metadataSection {
    padding: 32px;
  }
}

.YTpCAM0KzZ6O8Gyuyir9 {
  background-color: var(--spice-text);
  border-radius: 2px;
  color: var(--spice-notification);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 19px;
  width: 19px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.vyh83GA_QOTiHc99F4qA {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.NzDMdYLxOOmSuteJz6Kf {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.NauFDhCihaWoWrYCQDt8,
.TcP0TL6Oxw7D56ZgEPAq {
  display: block;
  margin-bottom: 8px;
}

.TAfeZhlnQiimLTmZS2mz {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 4px;
}

.Nlq0Dp2BSWyn9buUHP7_,
.TAfeZhlnQiimLTmZS2mz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Nlq0Dp2BSWyn9buUHP7_ {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@-webkit-keyframes wajz0ZzWVZ0vLYmaXViW {
  0%,
  to {
    background-color: var(--spice-text);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    background-color: rgba(var(--spice-rgb-selected-row), 0.6);
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes wajz0ZzWVZ0vLYmaXViW {
  0%,
  to {
    background-color: var(--spice-text);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    background-color: rgba(var(--spice-rgb-selected-row), 0.6);
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.main-watchFeed-scrollToBottomButton {
  -webkit-transform: none;
  transform: none;
}

.main-watchFeed-scrollToBottomButton:hover {
  background-color: rgba(var(--spice-rgb-selected-row), 0.3);
}

.main-watchFeed-nextButtonWrapper {
  bottom: 0;
  inset-inline-end: 0;
  position: absolute;
}

.main-watchFeed-nextButtonInner {
  background-color: rgba(var(--spice-rgb-selected-row), 0.7);
  inset-inline-end: 0;
  text-wrap: nowrap;
}

.main-watchFeed-nextButtonInner:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  background-color: var(--spice-text);
}

.main-watchFeed-nextButtonInner {
  -webkit-animation: wajz0ZzWVZ0vLYmaXViW 0.8s cubic-bezier(0.58, 0, 0.43, 1)
    infinite;
  animation: wajz0ZzWVZ0vLYmaXViW 0.8s cubic-bezier(0.58, 0, 0.43, 1) infinite;
}

.main-watchFeed-scrollToTopButton {
  margin-bottom: 8px;
  -webkit-transform: none;
  transform: none;
}

.main-watchFeed-scrollToTopButton:hover {
  background-color: rgba(var(--spice-rgb-selected-row), 0.3);
}
