/*Round corner cover image*/
.card-image,
.card-placeholder-wrapper,
.card-image-content-wrapper,
.GlueCard:not(.GlueCard--artist) .GlueCard__image,
.GlueCard:not(.GlueCard--artist) .GlueCard__image-wrapper,
.Card:not(.Card--artist) .Card__image,
.Card:not(.Card--artist) .Card__image-wrapper {
	border-radius: 10px !important;
	overflow: hidden !important
}

/*Hide some annoying elements like profile name and pic, upgrade button and device connect bar at bottom, new playlist button*/
.profile.content-top-bar__profile-link,
.upgrade-button,
.view-player .remote-playback-bar,
.NewPlaylistButton {
	display: none !important;
}

/*Force player bar to has fixed height*/
body.remotebar .view-player .player-bar-wrapper {
	height: 87px !important;
}

/*Exclude these elements from draggable property because it stops them from clickable*/
.profile-items-container,
.profile
 {
	-webkit-app-region: no-drag !important;
}

/*Thinner scrollbar*/
::-webkit-scrollbar {
	display: none;
}

/*Round corner scrollbar*/
::-webkit-scrollbar-thumb {
	border-radius: 3px !important;
}

/*Hide top and bottom buttons of scrollbar */
/*who uses those, lol*/
::-webkit-scrollbar-button {
	display: none !important;
}

/*Hide cover image overlay*/
.card-overlay {
	visibility: hidden !important;
}

/*Lift up cover when hovering on it*/
.card-image-content-wrapper,
.GlueCard__image-wrapper,
.Card:not(.Card--artist) .Card__image-wrapper {
	transition-property: transform box-shadow !important;
	transition-duration: 1s !important;
	transition-timing-function: cubic-bezier(.3,0,0,1) !important;
	box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}

.card-image-hit-area:not(.no-hover):hover .card-image-content-wrapper,
.GlueCard__image-hit-area-counter-scale:hover .GlueCard__image-wrapper,
.Card:not(.Card--artist) .Card__image-hit-area-counter-scale:hover .Card__image-wrapper {
	transform: translateY(-10px);
	box-shadow: 0 15px 20px rgba(0,0,0,0.2);
}

.card-image-hit-area .card-button-add,
.card-image-hit-area .card-button-play,
.card-image-hit-area .card-button-more,
.GlueCard__image-hit-area .card-button-add,
.GlueCard__image-hit-area .card-button-play,
.GlueCard__image-hit-area .card-button-more,
.GlueCard__image-hit-area .GlueCard__play-button,
.GlueCard__image-hit-area .GlueCard__add-button,
.GlueCard__image-hit-area .GlueCard__more-button,
.GlueCard__image-hit-area .GlueCard__overlay,
.Card__image-hit-area .card-button-add,
.Card__image-hit-area .card-button-play,
.Card__image-hit-area .card-button-more,
.Card__image-hit-area .Card__play-button,
.Card__image-hit-area .Card__add-button,
.Card__image-hit-area .Card__more-button,
.Card__image-hit-area .Card__overlay  {
	transition-property: all !important;
	transition-duration: 1s !important;
	transition-timing-function: cubic-bezier(.3,0,0,1) !important;
	opacity: 0 !important;
}
.card-image-hit-area:not(.no-hover):hover .card-button-add,
.card-image-hit-area:not(.no-hover):hover .card-button-play,
.card-image-hit-area:not(.no-hover):hover .card-button-more,
.GlueCard__image-hit-area:not(.no-hover):hover .card-button-add,
.GlueCard__image-hit-area:not(.no-hover):hover .card-button-play,
.GlueCard__image-hit-area:not(.no-hover):hover .card-button-more,
.Card__image-hit-area:not(.no-hover):hover .card-button-add,
.Card__image-hit-area:not(.no-hover):hover .card-button-play,
.Card__image-hit-area:not(.no-hover):hover .card-button-more {
	opacity: 1 !important;
	transform: translateY(-10px);
}

.GlueCard__image-hit-area:hover .GlueCard__play-button,
.GlueCard__image-hit-area:hover .GlueCard__add-button,
.GlueCard__image-hit-area:hover .GlueCard__more-button,
.GlueCard__image-hit-area:hover .GlueCard__overlay,
.Card__image-hit-area:hover .Card__play-button,
.Card__image-hit-area:hover .Card__add-button,
.Card__image-hit-area:hover .Card__more-button,
.Card__image-hit-area:hover .Card__overlay {
	opacity: 1 !important;
}

.card-placeholder-wrapper {
	background: transparent !important;
}

/*Spice up search input background*/
.SearchInput__input {
	color: var(--modspotify_secondary_fg);
	background-color: rgba(var(--modspotify_rgb_scrollbar_fg_and_selected_row_bg), 0.5) !important;
}

/*Fixed player bar height and add cool shadow under*/
.view-player {
	height: 87px !important;
	box-shadow: 0 -10px 30px rgba(0,0,0,0.15) !important;
}

/*
Make cover image in player bar bigger and change position it abit
Also padding tilte and artist to correct position
*/
.view-player .now-playing,
.view-player .now-playing-container,
.view-player .now-playing .cover-image-container {
	height: 100% !important;
	overflow: visible !important;
}

.view-player .now-playing .cover-image-container {
	position: absolute !important;
	overflow: visible !important;
	bottom: 20px !important;
	left: -42px !important;
}
.view-player .now-playing .cover-image-container .cover-image {
	width: 85px !important;
	height: 85px !important;
	position: absolute !important;
	background-size: cover !important;
}

.view-player .now-playing-container .caption {
	height: 100% !important;
	align-content: center !important;
	padding-left: 30px !important;
}

@media (min-width: 1200px){
	.view-player .now-playing-container {
		min-width: 500px;
	}
}


.view-player .now-playing-container {
	z-index: 9998 !important;
}

/*
Minimize left sidebar
Expand when hovering on windows's left edge
*/
/* #menu-wrapper {
	position: absolute !important;
	z-index: 9999 !important;
	display: flex !important;
	height: 100% !important;
} */

/* .sidebar {
	min-width: 15px !important;
	width: 15px !important;
	transition-duration: .5s !important;
	transition-timing-function: cubic-bezier(.3,0,0,1) !important;
	opacity: 0;
} */

/*Expanded sidebar width*/
/* .sidebar:hover {
	width: 200px !important;
	opacity: 1;
}

.sidebar .sidebar-navbar.sidebar-scroll-element {
	padding-top: 30px !important;
	padding-bottom: 60px !important;
	opacity: 0 !important;
	transition-property: opacity !important;
	transition-duration: .5s !important;
	transition-timing-function: cubic-bezier(.3,0,0,1) !important;
} */

/* Playlist content */
#content {
	padding-bottom: 60px;
}

.sidebar:hover .sidebar-navbar.sidebar-scroll-element {
	opacity: 1!important;
}

.view-player .player-controls-container,
.view-player .player-controls-container .controls {
	overflow: visible !important;
}

.view-player .player-controls-container .controls .button-play{
	height:50px !important;
	border-radius:50px !important;
	background: transparent !important;
	width:50px !important;
	overflow: visible !important;
	box-shadow: 0 3px 15px rgba(0,0,0,0.15) !important;
	transition:none 0.3s cubic-bezier(.3,0,.7,1);
}

.view-player .player-controls-container .controls .button-play:before{
	font-size:18px !important;
	padding-left: 16px !important;
	padding-top: 9px !important;
}

.view-player .player-controls-container {
	position: absolute !important;
	width: 100% !important;
}

.view-player .player-controls-container .controls {
	width: 100% !important;
	height: 100%  !important;
	align-items: center !important;
	margin-top : 0px !important;
}

/*
Hide the song duration and elapsed text. I dont know where to put those so I just hide them
*/
.view-player .player-controls-container .progress-container .elapsed,
.view-player .player-controls-container .progress-container .remaining {
	display: none !important;
}

/*
Move progress bar to bottom of window
*/
.view-player .player-controls-container .progress-container {
	position: absolute !important;
	width: 100% !important;
	height: 100% !important;
	bottom: (-87/2px) !important;
	margin : 0 0 0 0 !important;
	z-index: 9999 !important;
}

.view-player .player-controls-container .progress-container .progress-bar {
	margin-top: -6px !important;
	top: 100% !important;
}

.view-player .player-controls-container .progress-container .progress-bar .inner {
	top: 100% !important;
	margin-top: -4px !important;
	border-radius: 0 2px 2px 0 !important;
	background-color: var(--modspotify_main_fg);
}

/* Add round corner for Gerne and Mood cards */
.gc-image-container,
.gc-image {
	border-radius: 10px !important;
}

/*
Collage of 3 album covers is usually seen in Browse and Chart.
*/
.card-puff__image-wrapper,
.card-puff__info-container,
.card-puff__card-image {
	border-radius: 10px !important;
}

.card-puff__image-wrapper {
  overflow: visible;
}

.card-puff__card-image {
	box-shadow: 5px 0 20px rgba(0,0,0,0.3);
	overflow: visible;
}

.card-puff__title-container {
	background-color: rgba(0,0,0,0) !important;
	align-items: start !important;
}

.card-puff.pressed .card-puff__image-wrapper,
.card-puff.pressed .card-puff__info-container {
  opacity: 0.7 !important;
}

.card-puff__title {
	padding: 5px 10px 5px 10px !important;
	background-color: rgba(var(--modspotify_rgb_cover_overlay_and_shadow),0.8) !important;
	border-radius: 10px 10px 0 0 !important;
	text-align: left !important;
	width: 100% !important;
	margin: 0 20px !important;
}
/*
We use round corner on cover so they look weird in original
form, so I move last cover to the right 20px and first one to the left 20px
*/
.card-puff__card-image:nth-child(1) {
	right: 20px;
	box-shadow: 0 0 0 0 !important;
}

.card-puff__card-image:nth-child(3) {
	left: 20px;
}

.grid-overlay-label {
	top: 140px !important;
}

/**/
.glue-page-header__background-color {
	background-image: none !important;
	background: var(--modspotify_main_bg);
}

.glue-page-header__background-overlay {
	background-color: transparent !important;
}

.glue-page-header__sticky {
  	padding-top: 60px !important;
}

/*
Remove those title, cringy description and
meaningless followers number
*/

.carousel .card-info-subtitle-description,
.carousel .card-info-subtitle-metadata,
.carousel .card:not(.card-type-station).card-info-title,
.carousel .card.card-type-playlist.image-loaded .card-info-subtitle-description,
.carousel .card.card-type-playlist.image-loaded .card-info-subtitle-metadata {
	display: none !important;
}


/*
In top of Browse usually has bunch of Playlist or Album cards,
and they has .carousel as a wrapper and it hides anything that
overflows from its zone, aka our shadow and lifting animation.
*/
.carousel {
	overflow: visible !important;
}

/*
Button with text Play
*/
.button.button-green,
.GlueButton.GlueButton--style-green {
	color: var(--modspotify_main_bg) !important;
}

/*
Change text color in playlist
*/
.tl-explicit .label,
.tl-premium .label,
.tl-cell:not(.tl-number),
.tl-cell a:link,
.tl-highlight {
  color: var(--modspotify_secondary_fg);
}

.card-type-album .card-info-title,
.card-type-track .card-info-title,
.card-type-collection-album .card-info-title,
.card-type-episode .card-info-title {
  	font-size: 15px;
  	font-weight: 900 !important;
	text-align: center !important;
	width: 100% !important;
}

.card-type-album .card-info-subtitle-links,
.card-type-track .card-info-subtitle-links,
.card-type-collection-album .card-info-subtitle-links,
.card-type-episode .card-info-subtitle-links {
	text-align: center !important;
	width: 100% !important;
}

.tracklist-station-container::after {
	background: transparent !important;
}

.GlueHeader__background-overlay {
	background: var(--modspotify_main_bg) !important;
}

/* Move navigation buttons and search field to the right and down */
.browser-navigation-top-bar {
	margin-left: 40px !important;
	margin-top: 15px !important;
}

.SearchInput__input,
.SearchInput__searchIcon,
.SearchInput__clearButton {
	margin-top: 15px !important;
}

.content-top-bar__profile-menu-button {
	margin-top: 15px !important;
}

.body-container--windows:not(.with-buddy-list):not(.messagebar) .content-top-bar__profile {
	margin-right: 110px !important;
	margin-top: -5px;
}

/* Spice up Fullscreen mode */
#view-player .album-art .album-art__image {
	border-radius: 30px !important;
	box-shadow: 0 10px 70px rgba(var(--modspotify_rgb_cover_overlay_and_shadow),.5) !important;
}

#view-player .album-art .album-art__image .card-image-content-wrapper,
#view-player .album-art .album-art__image .card-image-content-wrapper .card-image {
	border-radius: 30px !important;
}

/* Daily mixes */
.carousel .card-info-wrapper.card-info-with-description.card-info-with-metadata {
	height: 50px !important;
}

/* Remove section divider */
.section-divider {
	border-bottom: 0 !important;
}

/* Adjust Position of border active tab in Nav bar at top
and add little glowing effect
*/
.nav.navbar-nav {
	overflow: hidden !important;
}

.nav.navbar-nav a {
	overflow: visible !important;
}

.nav.navbar-nav a::after {
	bottom: 0px !important;
	width: 100% !important;
}

.nav.navbar-nav .active  a::after{
	box-shadow: 0 0px 20px !important;
}

.nav.navbar-nav a:focus:not(.button):active::after{
	background-color: var(--modspotify_pressing_fg) !important;
}

/* Friend sidebar */
#view-buddy-list {
	min-width: 15px !important;
	width: 15px !important;
	transition-property: all !important;
	transition-duration: .5s !important;
	transition-timing-function: cubic-bezier(.3,0,0,1) !important;
	opacity: 0;
}

#view-buddy-list:hover {
	width: 277px !important;
	opacity: 1;
}

.body-container--windows .buddy-list-iframe {
	height: 100% !important;
}

.with-buddy-list #view-buddy-list {
	position: absolute;
    right: 0px;
    display: flex;
    z-index: 999999;
    height: 100%;
}

/* Notification bar */
#content-wrapper #view-message-bar {
	position: absolute !important;
	width: calc(100% - 160px) !important;
	margin-left: 80px !important;
	border-radius: 0 0 10px 10px !important;
}

/* Small cover Big cover mechanism */
.now-playing.cover-size-transition.active.image-expanded .cover-image {
    width: 10px !important;
	height: 10px !important;
}
.now-playing.cover-size-transition.active.image-expanded .caption {
	padding-left: 0px !important;
}
#view-now-playing a.image {
	overflow: visible !important;
}

#view-now-playing.expanded {
	width: 200px;
	height: 200px;
}

#now-playing-image-large .cover-image {
	height: 200px !important;
}

/* Profile arrow in top left */
.content-top-bar__profile-menu-button .dropdown {
	position: fixed !important;
	right: 200px !important;
    top: 10px !important;
	-webkit-app-region: no-drag !important;
}

/* Small tooltip */
#tooltip {
	box-shadow: 0 0 10px rgba(0,0,0,0.5) !important;
	border-radius: 5px !important;
}

.lyrics-lines-container,
.message-container {
	color: var(--modspotify_secondary_fg) !important;
}

/* Home page */
.GlueCarousel__grid-wrapper::-webkit-scrollbar-thumb {
	display: none;
}

.GlueCard__info-wrapper,
.Card__info-wrapper {
	margin-bottom: 30px;
}

.card-horizontal-interior-wrapper .card-info-title {
	text-align: start !important;
}

.tl-row.selected:hover .tl-cell {
	background: var(--modspotify_scrollbar_fg_and_selected_row_bg) !important;
}

.GlueTableRow--is-selected {
	background-color: var(--modspotify_scrollbar_fg_and_selected_row_bg) !important;
}

.tracklist-podcast .tl-progress .row-progress__bar {
    background-color: var(--modspotify_main_fg);
}

.Header__background-color{
	background-color: var(--modspotify_main_bg) !important;
}

.Button--style-green {
	color: var(--modspotify_main_bg) !important;
}

/* Display usable add playlist button */
.LeftSidebarNewPlaylistButton__button {
	padding: 0 168px !important;
	padding-right: 40px;
}

.LeftSidebarNewPlaylistButton__text {
	display: none !important;
}

.Card__info-title {
	font-weight: 600;
}

.view-player .player-controls-container .controls .button-play:after {
	box-shadow: 0 0 0 0 !important;
}

#nowplaying-track-link-container {
	font-weight: 600;
}

.artist {
	font-weight: 400;
}