.main-rootlist-rootlistDividerGradient {
    background: linear-gradient(180deg, var(--modspotify_main_bg), transparent);
}

input {
    background-color: unset !important;
    border-bottom: solid 1px var(--modspotify_main_fg) !important;
    border-radius: 0 !important;
    padding: 6px 10px 6px 48px;
    color: var(--modspotify_main_fg) !important;
}

.x-833-searchInput-searchInputSearchIcon {
    color: var(--modspotify_main_fg) !important;
}

.main-home-homeHeader,
.x-441-entityHeader-overlay,
.main-actionBarBackground-background,
.main-entityHeader-overlay,
.main-entityHeader-backgroundColor
{
    background-color: unset !important;
    background-image: unset !important;
}

.main-playButton-PlayButton.main-playButton-primary {
    color: white;
}

.connect-title, .connect-header {
    display: none;
}

/* Topbar visibility bug */
.main-topBar-topbarContent:not(.main-topBar-topbarContentFadeIn)>* {
    opacity: unset !important;
}
.main-entityHeader-topbarContent:not(.main-entityHeader-topbarContentFadeIn)>* {
    opacity: 0 !important;
}

/* Remove Topbar background colour */
.main-topBar-background {
    background-color: unset !important;
}
.main-topBar-overlay {
    background-color: var(--modspotify_main_bg);
}

.main-entityHeader-shadow {
    box-shadow: 0 04px 20px #21212130;
}

.main-trackList-playingIcon {
    filter: grayscale(1);
}

span.artist-artistVerifiedBadge-badge svg:nth-child(1) {
    fill: black;
}

.main-playPauseButton-button {
    background-color: var(--modspotify_indicator_fg_and_button_bg);
}

.main-navBar-navBarLinkActive {
    background-color: rgba(var(--modspotify_rgb_indicator_fg_and_button_bg),1);
}

/* Full window artist background */
.main-entityHeader-background.main-entityHeader-gradient {
    opacity: 0.3;
}

.main-entityHeader-container.main-entityHeader-withBackgroundImage,
.main-entityHeader-background,
.main-entityHeader-background.main-entityHeader-overlay:after {
    height: 100vh;
}

.main-entityHeader-withBackgroundImage .main-entityHeader-headerText {
    justify-content: center;
}

.main-entityHeader-container.main-entityHeader-nonWrapped.main-entityHeader-withBackgroundImage {
    padding-left: 9%;
}

.main-entityHeader-background.main-entityHeader-overlay:after {
    background-image: linear-gradient(transparent,transparent),linear-gradient(var(--modspotify_main_bg), var(--modspotify_main_bg));
}

.artist-artistOverview-overview .main-entityHeader-withBackgroundImage h1 {
    font-size: 175px !important;
    line-height: 175px !important;
}