.setting-row::after {
	content: "";
	display: table;
	clear: both;
}
.setting-row .col {
	display: flex;
	padding: 10px 0;
	align-items: center;
}
.setting-row .col.description {
	float: left;
	padding-right: 15px;
	cursor: default;
}
.setting-row .col.action {
	float: right;
	text-align: right;
}
button.switch {
	align-items: center;
	border: 0px;
	border-radius: 50%;
	background-color: rgba(var(--spice-rgb-shadow), 0.7);
	color: var(--spice-text);
	cursor: pointer;
	display: flex;
	margin-inline-start: 12px;
	padding: 8px;
}
button.switch.disabled,
button.switch[disabled] {
	color: rgba(var(--spice-rgb-text), 0.3);
}
button.switch.small {
	width: 22px;
	height: 22px;
	padding: 6px;
}
button.text {
	font-size: 12px;
	line-height: 16px;
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	color: var(--spice-text);
	background-color: initial;
	padding: 7px 15px;
	border: 1px solid var(--spice-text);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 4px;
	margin-inline-start: 12px;
}
#new-releases-config-container input {
	width: 100%;
	margin-top: 10px;
	padding: 0 5px;
	height: 32px;
	border: 0;
	color: var(--spice-text);
	background-color: initial;
	border-bottom: 1px solid var(--spice-text);
}

option {
	background-color: var(--spice-button);
}

.new-releases-header {
	-webkit-box-pack: justify;
	-webkit-box-align: center;
	align-content: space-between;
	align-items: center;
	color: var(--spice-text);
	display: flex;
	justify-content: space-between;
	margin: 16px 0;
	text-transform: capitalize;
}

.new-releases-controls-container {
	position: relative;
	align-items: center;
	display: flex;
}

.new-releases-cardSubHeader {
	color: var(--spice-subtext);
}
.new-releases-header + .main-gridContainer-gridContainer .main-card-card .main-playButton-PlayButton button {
	-webkit-tap-highlight-color: transparent;
	background-color: transparent;
	border: 0px;
	border-radius: 500px;
	display: inline-block;
	position: relative;
	touch-action: manipulation;
	transition-duration: 33ms;
	transition-property: background-color, border-color, color, box-shadow, filter, transform;
	user-select: none;
	vertical-align: middle;
	transform: translate3d(0px, 0px, 0px);
	padding: 0px;
	min-inline-size: 0px;
	align-self: center;
}
.new-releases-header + .main-gridContainer-gridContainer .main-card-card .main-playButton-PlayButton span {
	-webkit-tap-highlight-color: transparent;
	position: relative;
	background-color: var(--spice-button-active);
	color: var(--spice-sidebar);
	display: flex;
	border-radius: 500px;
	font-size: inherit;
	min-block-size: 48px;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	inline-size: 48px;
	block-size: 48px;
}
.new-releases-header + .main-gridContainer-gridContainer .main-card-card .main-playButton-PlayButton span:hover {
	transform: scale(1.04);
}

.main-card-closeButton {
	pointer-events: all;
	position: absolute !important;
	top: 8px;
	right: 8px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	align-items: center;
	background-color: rgba(var(--spice-rgb-shadow), 0.7);
	border: 0;
	border-radius: 500px;
	color: var(--spice-sidebar);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 28px;
	justify-content: center;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transform-origin: center;
	transform-origin: center;
	width: 28px;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.3s ease;
}

.main-card-closeButton:active {
	transform: scale(1) !important;
}
.main-card-closeButton:hover {
	transform: scale(1.1);
}

.main-card-card:hover .main-card-closeButton {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s, opacity 0.3s ease;
}

.new-releases-header + .main-gridContainer-gridContainer {
	grid-template-columns: repeat(var(--column-count), minmax(var(--min-container-width), 1fr)) !important;
}
