name: Lint Pull Request

on:
  pull_request_target:
    types: [opened, edited, synchronize]

jobs:
  lintpr:
    runs-on: ubuntu-latest
    steps:
      - name: Lint pull request title
        uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          disallowScopes: |
            [A-Z]+
          subjectPattern: ^(?![A-Z]).+$
