name: Prettier

on: [pull_request]

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
    - uses: actions/checkout@v2
    - uses: actionsx/prettier@v2
      with:
        args: --print-width 80 --tab-width 4 --trailing-comma es5 --arrow-parens always --write ""./Extensions/*.js" "./jsHelper/{homeConfig,sidebarConfig}.js" "CustomApps/*/*.css"
