name: Release

on:
   release:
      types: [published]

jobs:
   release:
      permissions:
         id-token: write
         contents: write
         attestations: write
      name: Release
      runs-on: ubuntu-latest
      if: startsWith(github.ref, 'refs/tags/v3')
      outputs:
         tag: ${{ steps.set-env.outputs.tag }}
      steps:
      -  id: set-env
         name: Set Env
         run: echo "tag=${GITHUB_REF#refs/*/v}" >> "$GITHUB_OUTPUT"

   macos:
      name: Release for macos
      needs: release
      runs-on: macos-13
      steps:
      -  name: Checkout
         uses: actions/checkout@v4
      -  uses: ./.github/actions/release/macos
         with:
            tag: ${{ needs.release.outputs.tag }}
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

   linux:
      name: Release for linux
      needs: release
      runs-on: ubuntu-latest
      steps:
      -  name: Checkout
         uses: actions/checkout@v4
      -  uses: ./.github/actions/release/linux
         with:
            tag: ${{ needs.release.outputs.tag }}
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}


   windows:
      name: Release for windows
      needs: release
      runs-on: windows-latest
      steps:
      -  name: Checkout
         uses: actions/checkout@v4
      -  uses: ./.github/actions/release/windows
         with:
            tag: ${{ needs.release.outputs.tag }}
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
